{% extends "layout.html.twig" %}

{% block content %}

    <main class="container admin">
        <h1>Espace administration</h1>
        <div class="row">
            {% for ligne in content %}
                <div class="col-12 adminContent">
                    <a href="{{ path('modif_code', {'id': ligne.id_article}) }}"><p>{{ ligne.title }} publié le {{ ligne.release_date }} par {{ ligne.pseudo }}</p></a>
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}