{% extends "layout.html.twig" %}

{% block content %}

    <main class="container mentions">

        <h3>Mentions Légales</h3>
        <p>La maintenance et l’administration du site balance-ton-code.fr sont assurées par <strong>Damien, Nicolas, Ange, Maël</strong>.</p>
        <p>Le site <span>balance-ton-code.fr</span> n'est pas hébergé</p>
        <p><span>balance-ton-code.fr</span> prête une attention particulière à vos données personnelles, et s’engage de par ses conditions d’utilisation à ne transmettre, vendre ou céder à un tiers aucune information personnelle vous concernant.<br>Conformément à la loi «&nbsp;Informatique et Libertés&nbsp;» N° 78-17 du 6 Janvier 1978, vous bénéficiez d’un droit d’accès, de rectification et d’opposition. Pour l’excercer, merci de bien vouloir nous contacter par l’intermédiaire du formulaire de contact.</p>


    </main>

{% endblock %}
