{% extends "layout.html.twig" %}

{% block content %}

    <main class="container mentions">

        <h3>Mentions Légales</h3>
        <p>Le site <span>balance-ton-code.fr</span> est édité par :</p>
        <p><strong>inserer un nom</strong>, 89000 AUXERRE</p>
        <p>La maintenance et l’administration sont assuré par <strong>Damien Flogny, Nicolas  , Ange, Maël ATZORI MALTETE</strong>.</p>
        <p>Le site <span>balance-ton-code.fr</span> est hébergé par :</p>
        <p><strong>Groupe PulseHeberg-Netrix</strong>, dont le siège social est établi 16 avenue de l'Europe - 78140 Vélizy-Villacoublay, déclaré auprès de la prefecture des Yvelines, <strong>Siren/Siret : 791 715 790 00022</strong> NAF : 63.11Z TVA : FR47791715790</p>
        <p><span>balance-ton-code.fr</span> prête une attention particulière à vos données personnelles, et s’engage de par ses conditions d’utilisation à ne transmettre, vendre ou céder à un tiers aucune information personnelle vous concernant.<br>Conformément à la loi «&nbsp;Informatique et Libertés&nbsp;» N° 78-17 du 6 Janvier 1978, vous bénéficiez d’un droit d’accès, de rectification et d’opposition. Pour l’excercer, merci de bien vouloir nous contacter par l’intermédiaire du formulaire de contact.</p>


    </main>

{% endblock %}
