{% extends "layout.html.twig" %}

{% block content %}

    <main class="container index-lang">
        <div class="row">
            <h1 class="col-12 text-center">Tous mes codes</h1>
            {% for ligne in code %}
            <div class="code col-md-4 mh-100">
                <div>
                    <h3><a href="{{ path('article', {'id': ligne.id_article}) }}">{{ ligne.title }}</a></h3>
                    <p>Posté il y a {{ ligne.release_date }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}
