/* VAR */
/* ELMTS */
/* line 15, ../sass/charte_graph.scss */
* {
  font-size: 1em;
}

/* line 19, ../sass/charte_graph.scss */
body {
  font-size: 16px;
  font-family: sans-serif;
}

/* line 23, ../sass/charte_graph.scss */
nav {
  width: 500px;
  height: 50px;
  background: #2e3535;
}

/* line 27, ../sass/charte_graph.scss */
h1, h2, h3 {
  color: #25858c;
}

/* line 30, ../sass/charte_graph.scss */
h1 {
  font-size: 2em;
}

/* line 33, ../sass/charte_graph.scss */
h2 {
  font-size: 1.8em;
}

/* line 36, ../sass/charte_graph.scss */
h3 {
  font-size: 1.6em;
}

/* line 40, ../sass/charte_graph.scss */
.sombre {
  background: #2e3535;
  color: #afdde0;
  padding: 20px;
}
/* line 42, ../sass/charte_graph.scss */
.sombre:hover {
  color: #e8f8f9;
}

/* line 44, ../sass/charte_graph.scss */
.clair {
  color: #25858c;
  padding: 20px;
}
/* line 46, ../sass/charte_graph.scss */
.clair:hover {
  color: #2da3aa;
}

/* line 49, ../sass/charte_graph.scss */
button {
  background: #25858c;
  padding: 20px;
  color: #e8f8f9;
  border: none;
  cursor: pointer;
}
/* line 51, ../sass/charte_graph.scss */
button:hover {
  background: #2da3aa;
}
