.faq {
    .faq-item {
        & > :first-child {
            color: $primarycolor2;
            font-size: 1.4em;
            span {
                color: $primarycolor;
                font-weight: bold;
            }
        }
        & > :last-child {
            margin-left: 2vw;

        }
    }
}