.recherche-page {
    .row {
        background: #fff;
        box-shadow: 0 0 10px #919192;
        min-height: 70vh;
        input {
            background: none;
            font-size: 2.5em;
            border-radius: 0;
            border: 1px solid #919192;
            &:focus {
                box-shadow: 0 0 5px #919192;
            }
        }
        #moreOptions {
            cursor: pointer;
            padding: 1vw;
            display: inline-block;
            margin-top: 1vw;
        }
        #options {

        }
        #response {
            color: #000;
            font-size: 1.5em;
            a {
                @include link($primarycolor2, $primarycolor2);
            }
        }
    }
}
main {
    .section1, .section2 {
        background: #fff;
        border: $lightgrey 1px solid;
        box-shadow: 0 0 10px #919192;
        margin: 0;
        h2 {
            margin-top: 1vw;
        }
        .row {
            .langages {
                div {
                    h3 {
                        a {
                            @include animLink1($lightcolor2, $lightcolor2);
                        }
                    }
                }
            }
            .langages, .code {
                border: $darkgrey 1px solid;
                margin: 1vw 0;
                div {
                    @include centrer(relative);
                    padding: 1vw;
                    h3 {
                        a {
                            color: $primarycolor;
                            &:hover {
                                color: $primarycolor;
                            }
                        }
                    }
                    p {
                        a {
                            color: $color_font;
                            &:hover {
                                color: $color_font;
                            }
                        }
                    }
                }
                &:hover {
                    box-shadow: 0 0 10px $darkgrey;
                }
            }
        }
    }
    .section1 {
        p:first-child {
            margin-top: 2vw;
        }
    }
    .section2 {
        margin: 2vw auto;
        padding-bottom: 1vw;
    }
}