/**********/
/* FOOTER */
/**********/

footer {
    background: $darkcolor;
    position:absolute;
    bottom: 0;
    .row {
        div {
            margin: 1vw 0;
            a{
                @include link($primarycolor2,$lightcolor2);
            }
        }
    }
}