/**********/
/* FOOTER */
/**********/

footer {
    background: $darkgrey;
    position:absolute;
    bottom: 0;
    .row {
        div {
            margin: 1vw 0;
            a{
                @include link($color_link,$color_linkH);
            }
        }
    }
}