/**********/
/* HEADER */
/**********/


nav {
    background: $darkgrey;
    .logo {
        width: 50%;
    }
    ul {
        .nav-item {
            .nav-link {
                padding: 0.3rem 1rem;
            }
        }
        .dropdown {
            .dropdown-menu {
                padding: 0;
                .dropdown-item {
                    color: $deepblue!important;
                    &:hover {
                        background: $deepblue;
                        color: $lightblue!important;
                    }
                }
                .dropdown-divider {
                    margin: 0;
                }
            }
        }
        li {
            a {
                @include link($color_link, $color_linkH);
            }
        }
    }
}