.recherche {
    color: #fff;
    display:none;
    padding-top: 20vw;
    position: absolute;
    z-index: 990;
    background: rgba(0,0,0,.9);
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    top:0;
    left: 0;
    .close {
        position: relative;
        z-index: 999;
        right: 5vw;
        color: #fff;
        cursor: pointer;
    }
    .searchField {
        input {
            background: none;
            border: none;
            font-size: 2.5em;
            width: 80%;
            color: #fff;
            padding: 0 2vw;
        }
    }

    #moreOptions {
        cursor: pointer;
        padding: 1vw;
        display: inline-block;
        margin-top: 1vw;
    }
    #options {

    }
    #response {
        color: #fff;
        font-size: 1.5em;
        a {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }
}
main {
    .section1, .section2 {
        background: #fff;
        border: $lightgrey 1px solid;
        box-shadow: 5px 5px 10px #000;
        margin: 0;
        h2 {
            padding-top: 2vw;
        }
        .row {
            .langages {
                div {
                    h3 {
                        a {
                            @include animLink1($deepblue, $deepblue);
                        }
                    }
                }
            }
            .langages, .code {
                padding: 1vw;
                div {
                    @include centrer(relative);
                    padding: 2vw;
                    border: $lightgrey 1px solid;
                    h3 {
                        a {
                            color: $deepblue;
                            &:hover {
                                color: $deepblue;
                            }
                        }
                    }
                    p {
                        a {
                            color: $color_font;
                            &:hover {
                                color: $color_font;
                            }
                        }
                    }
                }
            }
        }
    }
}