


@media screen and (min-width: 560px) {
    /* HEADER */

    /* CONTENT */

    .page {
        .recherche {
            padding-top: 12vw;
        }
        main {
            padding: 13vw 0 25vw 0;
        }
    }

    /* FOOTER */
}


@media screen and (min-width: 768px) {
    /* HEADER */

    .dropdown-toggle::after {
        content: none;
    }

    /* CONTENT */

    main {
        padding: 13vw 0 7vw 0;
    }

    /* FOOTER */
}


@media screen and (min-width: 990px) {
    /* HEADER */


    /* CONTENT */

    main {
        padding: 2vw 0 2vw 0;
    }

    /* FOOTER */
}


@media screen and (min-width: 1200px) {
    /* HEADER */


    /* CONTENT */


    /* FOOTER */
}