
/* import du fichier contenant toutes les variables */
@import 'variable';

/** GENERAL CHANGE **/

body {
    color: $color_font;
    button {
        @include button();
    }
}

h1 {
    color: $deepblue;
}
h2 {
    color: $deepblue;
}
h3 {
    color: $deepblue;
}

#loader {
    @include centrer(absolute);
}

main {
    margin-top: 25vw;
    padding-bottom: 35vw;
    box-sizing: border-box;
}


/* TEST */

/***********/
/* CONTENT */
/***********/

.page {
    min-height: 100vh;
    position:relative;

    @import 'header';

    /* import des fichiers pour le contenu */
    @import 'index';
    @import 'user';
    @import 'index_lang';

    @import 'footer';

}

/** SMALL CHANGE **/

.link {
    @include link($deepblue, #2fb0b8);
    text-decoration: underline;
}