
/* import du fichier contenant toutes les variables */
@import 'variable';

/** GENERAL CHANGE **/

body {
    color: $color_font;
}

h1 {
    color: $deepblue;
}
h2 {
    color: $deepblue;
}
h3 {
    color: $deepblue;
}

#loader {
    @include centrer(absolute);
}

/***********/
/* CONTENT */
/***********/

.page {
    padding-top: 20vw;

    @import 'header';

    /* import des fichiers pour le contenu */
    @import 'index';

    @import 'footer';

}

/** SMALL CHANGE **/