

/********************/
/* VARIABLE & MIXIN */
/********************/

/* Variable */
$lightblue: #e8f8f9;
$lightgrey: #c6d2d3;
$deepblue: #25858c;
$darkgrey: #2e3535;
$lightblue2: #afdde0;

$color_font: #000;

@mixin centrer{
    position: relative;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
}

/** GENERAL */

body {
    color: $color_font;
}

h1 {
    color: $deepblue;
}
h2 {
    color: $deepblue;
}
h3 {
    color: $deepblue;
}

#loader {
    @include centrer();
    position: absolute;
}

.page {
    padding-top: 10vw;
    background: $lightgrey;

    /**********/
    /* HEADER */
    /**********/


    nav {
        background: $darkgrey;
        .logo {
            width: 50%;
        }
        ul {

        }
    }

    /***********/
    /* CONTENT */
    /***********/

    main {
        .section1, .section2 {
            background: #fff;
            border: $lightgrey 1px solid;
            box-shadow: 5px 5px 10px #000;
            margin: 7vw 0;
            .recherche {
                p {
                    margin: 1vw
                }
            }
            .moreOptions {
                cursor: pointer;
                padding: 1vw;
                display: inline-block;
                margin-top: 1vw;
            }
            h2 {
                padding-top: 2vw;
            }
            .row {
                .langages, .code {
                    padding: 1vw;
                    div {
                        padding: 2vw;
                        border: $lightgrey 1px solid;
                        h3 {
                            a {
                                color: $deepblue;
                                &:hover {
                                    color: $deepblue;
                                }
                            }
                        }
                        p {
                            a {
                                color: $color_font;
                                &:hover {
                                    color: $color_font;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /**********/
    /* FOOTER */
    /**********/

    footer {

    }
}





