/* import du fichier contenant toutes les variables */
/********************/
/* VARIABLE & MIXIN */
/********************/
/* Variable */
/** GENERAL CHANGE **/
/* line 7, ../sass/style.scss */
body {
  color: #000;
}

/* line 11, ../sass/style.scss */
h1 {
  color: #25858c;
}

/* line 14, ../sass/style.scss */
h2 {
  color: #25858c;
}

/* line 17, ../sass/style.scss */
h3 {
  color: #25858c;
}

/* line 21, ../sass/style.scss */
#loader {
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  position: absolute;
}

/***********/
/* CONTENT */
/***********/
/* line 30, ../sass/style.scss */
.page {
  padding-top: 10vw;
  /**********/
  /* HEADER */
  /**********/
  /* import des fichiers pour le contenu */
  /**********/
  /* FOOTER */
  /**********/
}
/* line 6, ../sass/header.scss */
.page nav {
  background: #2e3535;
}
/* line 8, ../sass/header.scss */
.page nav .logo {
  width: 50%;
}
/* line 2, ../sass/index.scss */
.page main .section1, .page main .section2 {
  background: #fff;
  border: #c6d2d3 1px solid;
  box-shadow: 5px 5px 10px #000;
  margin: 7vw 0;
}
/* line 8, ../sass/index.scss */
.page main .section1 .recherche p, .page main .section2 .recherche p {
  margin: 1vw;
}
/* line 12, ../sass/index.scss */
.page main .section1 #moreOptions, .page main .section2 #moreOptions {
  cursor: pointer;
  padding: 1vw;
  display: inline-block;
  margin-top: 1vw;
}
/* line 18, ../sass/index.scss */
.page main .section1 #options, .page main .section2 #options {
  display: none;
}
/* line 21, ../sass/index.scss */
.page main .section1 h2, .page main .section2 h2 {
  padding-top: 2vw;
}
/* line 28, ../sass/index.scss */
.page main .section1 .row .langages div h3 a, .page main .section2 .row .langages div h3 a {
  text-decoration: none;
  position: relative;
  color: #25858c;
}
/* line 34, ../sass/variable.scss */
.page main .section1 .row .langages div h3 a:hover, .page main .section1 .row .langages div h3 a:focus, .page main .section2 .row .langages div h3 a:hover, .page main .section2 .row .langages div h3 a:focus {
  color: #25858c;
}
/* line 36, ../sass/variable.scss */
.page main .section1 .row .langages div h3 a:hover::after, .page main .section1 .row .langages div h3 a:focus::after, .page main .section2 .row .langages div h3 a:hover::after, .page main .section2 .row .langages div h3 a:focus::after {
  width: 100%;
}
/* line 40, ../sass/variable.scss */
.page main .section1 .row .langages div h3 a::after, .page main .section2 .row .langages div h3 a::after {
  height: 2px;
  width: 0;
  background: #25858c;
  opacity: 1;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: center;
  transition: width 0.5s;
}
/* line 34, ../sass/index.scss */
.page main .section1 .row .langages, .page main .section1 .row .code, .page main .section2 .row .langages, .page main .section2 .row .code {
  padding: 1vw;
}
/* line 36, ../sass/index.scss */
.page main .section1 .row .langages div, .page main .section1 .row .code div, .page main .section2 .row .langages div, .page main .section2 .row .code div {
  padding: 2vw;
  border: #c6d2d3 1px solid;
}
/* line 40, ../sass/index.scss */
.page main .section1 .row .langages div h3 a, .page main .section1 .row .code div h3 a, .page main .section2 .row .langages div h3 a, .page main .section2 .row .code div h3 a {
  color: #25858c;
}
/* line 42, ../sass/index.scss */
.page main .section1 .row .langages div h3 a:hover, .page main .section1 .row .code div h3 a:hover, .page main .section2 .row .langages div h3 a:hover, .page main .section2 .row .code div h3 a:hover {
  color: #25858c;
}
/* line 48, ../sass/index.scss */
.page main .section1 .row .langages div p a, .page main .section1 .row .code div p a, .page main .section2 .row .langages div p a, .page main .section2 .row .code div p a {
  color: #000;
}
/* line 50, ../sass/index.scss */
.page main .section1 .row .langages div p a:hover, .page main .section1 .row .code div p a:hover, .page main .section2 .row .langages div p a:hover, .page main .section2 .row .code div p a:hover {
  color: #000;
}
/* line 5, ../sass/footer.scss */
.page footer {
  background: #2e3535;
}
/* line 8, ../sass/footer.scss */
.page footer .row div {
  margin: 1vw 0;
}
/* line 10, ../sass/footer.scss */
.page footer .row div a {
  color: #afdde0;
}
/* line 25, ../sass/variable.scss */
.page footer .row div a:hover {
  color: #e8f8f9;
}

/** SMALL CHANGE **/
