/* import du fichier contenant toutes les variables */
/********************/
/* VARIABLE & MIXIN */
/********************/
/* Variable */
/** GENERAL CHANGE **/
/* line 7, ../sass/style.scss */
body {
  color: #000;
  font-size: 16px;
}
/* line 9, ../sass/style.scss */
body button {
  background: #2263ad;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  position: relative;
  background: #ed7700;
  border: none;
  transition: 1s;
}
/* line 71, ../sass/variable.scss */
body button:hover, body button:focus {
  box-shadow: inset 250px 0 0 0 #ffa740;
}

/* line 15, ../sass/style.scss */
h1 {
  color: #2263ad;
  font-size: 2em;
}

/* line 19, ../sass/style.scss */
h2 {
  color: #2263ad;
  font-size: 1.8em;
}

/* line 23, ../sass/style.scss */
h3 {
  color: #2263ad;
  font-size: 1.6em;
}

/* line 27, ../sass/style.scss */
a {
  color: #ed7700 !important;
  font-size: 1em;
}
/* line 33, ../sass/variable.scss */
a:hover {
  color: #ffa740 !important;
}

/* line 32, ../sass/style.scss */
p {
  font-size: 1em;
}

/* line 36, ../sass/style.scss */
#loader {
  position: absolute;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
}

/* line 40, ../sass/style.scss */
main {
  padding: 25vw 0 25vw 0;
  box-sizing: border-box;
}

/* line 45, ../sass/style.scss */
.fa-star, .fa-star-o {
  color: #2263ad;
}

/* line 49, ../sass/style.scss */
input, textarea, select {
  font-size: .9em;
  margin: 1vw 0;
}

/* TEST */
/***********/
/* CONTENT */
/***********/
/* line 61, ../sass/style.scss */
.page {
  background: #F5F5F6;
  min-height: 100vh;
  position: relative;
  /**********/
  /* HEADER */
  /**********/
  /* import des fichiers pour le contenu */
  /**********/
  /* FOOTER */
  /**********/
}
/* line 6, ../sass/header.scss */
.page nav {
  background: #003a7d;
}
/* line 8, ../sass/header.scss */
.page nav .logo {
  width: 50%;
}
/* line 13, ../sass/header.scss */
.page nav ul .nav-item .nav-link {
  padding: 0.5rem 1rem;
  width: 100%;
  color: #ed7700 !important;
  background: #003a7d;
}
/* line 33, ../sass/variable.scss */
.page nav ul .nav-item .nav-link:hover {
  color: #ffa740 !important;
}
/* line 18, ../sass/header.scss */
.page nav ul .nav-item .nav-link:hover {
  background: #2263ad;
}
/* line 24, ../sass/header.scss */
.page nav ul .dropdown .dropdown-menu {
  padding: 0;
  background: #003a7d;
}
/* line 27, ../sass/header.scss */
.page nav ul .dropdown .dropdown-menu .dropdown-item {
  color: #ed7700 !important;
}
/* line 29, ../sass/header.scss */
.page nav ul .dropdown .dropdown-menu .dropdown-item:hover {
  background: #2263ad;
  color: #ffa740;
}
/* line 34, ../sass/header.scss */
.page nav ul .dropdown .dropdown-menu .dropdown-divider {
  margin: 0;
  border: 1px solid #5f90df;
}
/* line 41, ../sass/header.scss */
.page nav ul li a {
  color: #ed7700 !important;
}
/* line 33, ../sass/variable.scss */
.page nav ul li a:hover {
  color: #ffa740 !important;
}
/* line 1, ../sass/index.scss */
.page .recherche {
  color: #fff;
  display: none;
  padding-top: 20vw;
  position: absolute;
  z-index: 990;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  left: 0;
}
/* line 14, ../sass/index.scss */
.page .recherche .close {
  position: relative;
  z-index: 999;
  right: 5vw;
  color: #fff;
  cursor: pointer;
}
/* line 22, ../sass/index.scss */
.page .recherche .searchField input {
  background: none;
  border: none;
  font-size: 2.5em;
  width: 80%;
  color: #fff;
  padding: 0 2vw;
}
/* line 32, ../sass/index.scss */
.page .recherche #moreOptions {
  cursor: pointer;
  padding: 1vw;
  display: inline-block;
  margin-top: 1vw;
}
/* line 41, ../sass/index.scss */
.page .recherche #response {
  color: #fff;
  font-size: 1.5em;
}
/* line 44, ../sass/index.scss */
.page .recherche #response a {
  color: #fff;
}
/* line 46, ../sass/index.scss */
.page .recherche #response a:hover {
  color: #fff;
}
/* line 53, ../sass/index.scss */
.page main .section1, .page main .section2 {
  background: #fff;
  border: #F5F5F6 1px solid;
  box-shadow: 5px 5px 10px #000;
  margin: 0;
}
/* line 58, ../sass/index.scss */
.page main .section1 h2, .page main .section2 h2 {
  padding-top: 2vw;
}
/* line 65, ../sass/index.scss */
.page main .section1 .row .langages div h3 a, .page main .section2 .row .langages div h3 a {
  text-decoration: none;
  position: relative;
  color: #ffa740;
}
/* line 42, ../sass/variable.scss */
.page main .section1 .row .langages div h3 a:hover, .page main .section1 .row .langages div h3 a:focus, .page main .section2 .row .langages div h3 a:hover, .page main .section2 .row .langages div h3 a:focus {
  color: #ffa740;
}
/* line 44, ../sass/variable.scss */
.page main .section1 .row .langages div h3 a:hover::after, .page main .section1 .row .langages div h3 a:focus::after, .page main .section2 .row .langages div h3 a:hover::after, .page main .section2 .row .langages div h3 a:focus::after {
  width: 100%;
}
/* line 48, ../sass/variable.scss */
.page main .section1 .row .langages div h3 a::after, .page main .section2 .row .langages div h3 a::after {
  height: 2px;
  width: 0;
  background: #ffa740;
  opacity: 1;
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: center;
  transition: width 0.5s;
}
/* line 71, ../sass/index.scss */
.page main .section1 .row .langages, .page main .section1 .row .code, .page main .section2 .row .langages, .page main .section2 .row .code {
  padding: 1vw;
}
/* line 73, ../sass/index.scss */
.page main .section1 .row .langages div, .page main .section1 .row .code div, .page main .section2 .row .langages div, .page main .section2 .row .code div {
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  padding: 2vw;
  border: #F5F5F6 1px solid;
}
/* line 78, ../sass/index.scss */
.page main .section1 .row .langages div h3 a, .page main .section1 .row .code div h3 a, .page main .section2 .row .langages div h3 a, .page main .section2 .row .code div h3 a {
  color: #2263ad;
}
/* line 80, ../sass/index.scss */
.page main .section1 .row .langages div h3 a:hover, .page main .section1 .row .code div h3 a:hover, .page main .section2 .row .langages div h3 a:hover, .page main .section2 .row .code div h3 a:hover {
  color: #2263ad;
}
/* line 86, ../sass/index.scss */
.page main .section1 .row .langages div p a, .page main .section1 .row .code div p a, .page main .section2 .row .langages div p a, .page main .section2 .row .code div p a {
  color: #000;
}
/* line 88, ../sass/index.scss */
.page main .section1 .row .langages div p a:hover, .page main .section1 .row .code div p a:hover, .page main .section2 .row .langages div p a:hover, .page main .section2 .row .code div p a:hover {
  color: #000;
}
/* line 2, ../sass/user.scss */
.page .asideBtn i {
  color: #2263ad;
  cursor: pointer;
  font-size: 1.6em;
}
/* line 9, ../sass/user.scss */
.page .menuUser {
  position: absolute;
  left: -500px;
  box-shadow: 1px 1px 5px #000;
  z-index: 999;
  background: #E1E2E1;
  padding: 4vw;
}
/* line 16, ../sass/user.scss */
.page .menuUser ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 21, ../sass/user.scss */
.page .menuUser ul li a {
  color: #ed7700 !important;
}
/* line 33, ../sass/variable.scss */
.page .menuUser ul li a:hover {
  color: #ffa740 !important;
}
/* line 28, ../sass/user.scss */
.page main > .userContent {
  margin: 2vw 0;
}
/* line 29, ../sass/user.scss */
.page main > .userContent a {
  color: #000 !important;
}
/* line 33, ../sass/variable.scss */
.page main > .userContent a:hover {
  color: #000 !important;
}
/* line 33, ../sass/user.scss */
.page main > .userContent button {
  background: #2263ad;
  color: #fff;
  cursor: pointer;
  padding: 5px;
  position: relative;
  background: #ed7700;
  border: none;
  transition: 1s;
}
/* line 71, ../sass/variable.scss */
.page main > .userContent button:hover, .page main > .userContent button:focus {
  box-shadow: inset 250px 0 0 0 #ffa740;
}
/* line 1, ../sass/index_lang.scss */
.page .code {
  padding: 1vw;
}
/* line 3, ../sass/index_lang.scss */
.page .code div {
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  padding: 2vw;
  border: #F5F5F6 1px solid;
}
/* line 8, ../sass/index_lang.scss */
.page .code div h3 a {
  color: #2263ad;
}
/* line 10, ../sass/index_lang.scss */
.page .code div h3 a:hover {
  color: #2263ad;
}
/* line 16, ../sass/index_lang.scss */
.page .code div p a {
  color: #000;
}
/* line 18, ../sass/index_lang.scss */
.page .code div p a:hover {
  color: #000;
}
/* line 2, ../sass/insert_code.scss */
.page .insertCode #all_content {
  margin-bottom: 2vw;
}
/* line 5, ../sass/insert_code.scss */
.page .insertCode #ajout_content, .page .insertCode #insert_code {
  margin-bottom: 1vw;
}
/* line 3, ../sass/faq.scss */
.page .faq .faq-item > :first-child {
  color: #ed7700;
  font-size: 1.4em;
}
/* line 6, ../sass/faq.scss */
.page .faq .faq-item > :first-child span {
  color: #2263ad;
  font-weight: bold;
}
/* line 11, ../sass/faq.scss */
.page .faq .faq-item > :last-child {
  margin-left: 2vw;
}
/* line 5, ../sass/footer.scss */
.page footer {
  background: #003a7d;
  position: absolute;
  bottom: 0;
}
/* line 10, ../sass/footer.scss */
.page footer .row div {
  margin: 1vw 0;
}
/* line 12, ../sass/footer.scss */
.page footer .row div a {
  color: #ed7700 !important;
}
/* line 33, ../sass/variable.scss */
.page footer .row div a:hover {
  color: #ffa740 !important;
}

/** SMALL CHANGE **/
/* line 81, ../sass/style.scss */
.link {
  color: #ed7700 !important;
  text-decoration: underline;
}
/* line 33, ../sass/variable.scss */
.link:hover {
  color: #ffa740 !important;
}

@media screen and (min-width: 560px) {
  /* HEADER */
  /* CONTENT */
  /* line 10, ../sass/responsive.scss */
  .page .recherche {
    padding-top: 12vw;
  }
  /* line 13, ../sass/responsive.scss */
  .page main {
    padding: 13vw 0 25vw 0;
  }

  /* FOOTER */
}
@media screen and (min-width: 768px) {
  /* HEADER */
  /* line 25, ../sass/responsive.scss */
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* line 29, ../sass/responsive.scss */
  .dropdown-toggle::after {
    content: none;
  }

  /* line 33, ../sass/responsive.scss */
  .nav-link {
    padding: 1rem 1rem !important;
  }

  /* CONTENT */
  /* line 42, ../sass/responsive.scss */
  .page .recherche {
    padding-top: 12vw;
  }
  /* line 45, ../sass/responsive.scss */
  .page main {
    padding: 10vw 0 7vw 0;
  }

  /* FOOTER */
}
@media screen and (min-width: 990px) {
  /* HEADER */
  /* CONTENT */
  /* line 61, ../sass/responsive.scss */
  .page .recherche {
    padding-top: 12vw;
  }
  /* line 64, ../sass/responsive.scss */
  .page main {
    padding: 8vw 0 8vw 0;
  }

  /* FOOTER */
}
@media screen and (min-width: 1200px) {
  /* HEADER */
  /* CONTENT */
  /* line 80, ../sass/responsive.scss */
  .page .recherche {
    padding-top: 12vw;
  }
  /* line 83, ../sass/responsive.scss */
  .page main {
    padding: 4vw 0 1vw 0;
  }

  /* FOOTER */
}
